@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}
<h2 class="text-center block">Rhobalas News</h2>
<div class="container text-center block">
    <div class="container blockbot">
    <!-- Nav tabs --! !! !!!-->
        <ul class="nav nav-justified" data-toggle="collapse" id="nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#yt" aria-controls="yt" role="tab" data-toggle="tab">
                    <img class="img-circle" src="~/images/yt.png" height=80px width= 80px/>
                </a>
            </li>
            <li role="presentation">
                <a href="#tw" aria-controls="tw" role="tab" data-toggle="tab">
                    <img class="img-circle" src="~/images/tw.png" height=80px width= 80px/>
                </a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane fade show active" id="yt">
         <div class="tab-inner">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed?listType=playlist&list=UU1OjGAD8ViSm9X9dNW7l_nA&index=2&t=0s&fs=0" ></iframe>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tw">
        <div class="tab-inner">
            <div id="container">
                <a class="twitter-timeline" data-theme="dark" width="75%" href="https://twitter.com/Rhobalasv2?ref_src=twsrc%5Etfw">Tweets by Rhobalasv2</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                    
            </div>
        </div> 
    </div>
    </div>
</div>