/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

html * {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
.footer{
    /*text-align, background-color, and other specific styles can be applied here. You can change the height from 30px to anything which suits your needs. You can even comment Left: 0px & Right: 0px, but to make sure that it works in all browsers, lets leave them there.*/
}


.footainer {
  background-color: #2f0f2d;

}

@font-face {
  font-family: 'signF';
    src: url('~/font/Believeit.woff') format('.woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('~/font/Believeit.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
         url('~/font/Believeit.svg') format('svg'),
         url('~/font/believeit.woff2') format('woff2'),
         url('~/font/Believeit.eot') format('embedded-opentype');
  }
.sign {
  font-family:  "Brush Script MT";
  font-style: italic;
}
  .navbar-brand {
  font-weight: bold;
}

.mybody { margin:50px;}
#twitch.embed {
  background-color: black;
}

.nav .navbar-nav li a {
  color:#e6e0e0;

}

.check-me-container {
}

.card {
  height: auto;
  margin-top:20px;
}

.navbar-dark .navbar-nav .nav-link
{
  color:#e5e5e5;
  padding-left:30px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
}
/* change the link color */

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.navbar {
      z-index: 1;
      width: 100%;
      display:flex;
      margin-bottom:0;
      background-color:#2f0f2d;
}

  .tab-content {
    margin-top:25px;
}
.contact .logo{
  margin-right: 10px;
}
  .contact .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact .title h2 {
    margin: 0;
}
.footer-copyright {
  background-color: black; 
}

.carousellTxt {
  color:white;
  text-shadow: 0 1px 2px rgba(0,0,0,1);
  color: #ffffff;

}
.carousel-item carousellTxt {
  bottom: 60%;
  right: 30%;
  left: 30%;
}
.carousellTxt,  .carousellTxt-item:focus
 {
  font-size: 5em;
  font-style: italic;
}
.carousellTxt-item , a:link {
  text-decoration: none;
}

.carousel-inner {
  width: 100%;
}

.carousel-inner .carousel-item{
  z-index:-9;  
}

.carousel-caption {
  position: absolute;
  bottom: 60%;
  right: 30%;
  left: 30%;
}
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
.carousel {
  margin-bottom: 50px;
}   
.carousel .slide{
  z-index: -1;

}
.blocktop { padding-top:6%;}
.block { margin-top:2%;}
.blockb { margin-top:4%;}
.blockbot { padding-bottom:4%;}
.blockr { padding-right:10px;}

  .nav.nav-justified {
    display: inline-flex;
  }
  .nav.nav-justified > li > a { position: relative; }
  .nav.nav-justified > li > a:hover,
  .nav.nav-justified > li > a:focus { background-color: transparent; }

  .nav.nav-justified > li.active > a > .quote { opacity: 1; }
  .nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
  .nav.nav-justified > li > a > img { 
      max-width: 100%; 
      opacity: .3; 
      -webkit-transform: scale(.8,.8);
              transform: scale(.8,.8);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav.nav-justified > li.active > a > img,
  .nav.nav-justified > li:hover > a > img,
  .nav.nav-justified > li:focus > a > img { 
      opacity: 1; 
      -webkit-transform: none;
              transform: none;
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
.card{
  background-color: #2f0f2d; 
}
.card-title {
  margin-bottom: 20px;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
.container-fluid {
  color:black;
  height: auto;
  margin:0;
  padding:0;
  background-image: url("../images/collab2.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.list-inline-item  {
  background: white;
}
.check-me-container {
  display: flex;
  justify-content: center;
}
.check-me-sub-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left:50px;
  padding-right: 50px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-style: solid;
  border-color:black;
  border-bottom: none;

}
.logofizz {
  margin: 10px;
}
.form-control {
  border:1px solid black;
}
.form-control :-moz-placeholder{
  color:black;
}
.form-control::-webkit-input-placeholder {
  color: black;
}.form-control::-moz-placeholder {
  color: black;
}

.form-line-active input:focus ,::selection {
  border : 1px solid #2f0f2d !important;
  outline-color : #2f0f2d !important;
  box-shadow: 0 0 5px #2f0f2d !important;
}  
.placeholderred input:focus ,::selection {
  border : 1px solid red !important;
  outline-color : red !important;
  box-shadow: 0 0 5px red !important;
}  

.form-group label {
  font-weight:500;
  
}
.well {
  font-weight: 400;
}

.container-custom{
  background-color  : white;
  height: auto;
  opacity: 0.8;
  padding: 10px 15px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
}
.col-md-12 {padding-bottom: 20px;}

a, img{
  -webkit-user-drag: none;
}
.logo .rhobico {
  width: 75px;
  height: auto;
  margin-bottom: 5px;
  margin-left: 10px;
} 
.noselect {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}