@page
@model PartnersModel
@{
    ViewData["Title"] = "Partners";
} 
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2> Actuellement à la recherche de partenaires potentiels</h2>
          <p>N'hésitez pas à me contacter via les réseaux sociaux ou avec 
            <a href="/Contact"> le formulaire.</a> </p>
      </div>
    </div>
</div>

