@page
@model PartnersModel
@{
    ViewData["Title"] = "Partners";
} 
<div class="container block">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2> Currently looking for potential partners</h2>
          <p>Feel free to contact through social networks or with 
            <a href="/Contact"> the form.</a> </p>
      </div>
    </div>
</div>
