@page
@model PlanningModel
@{
    ViewData["Title"] = "Planning";
}
<h2>@ViewData["Title"]</h2>

<address>

</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
