@page
@model PlanningModel
@{
    ViewData["Title"] = "Planning";
}

<div class="container blocktop blockbot">
    <h1> Planning coming soon...!</h1>
<strong> Page en construction et/ou remise en question </strong>
    
</div>

