
@page
@{
    ViewData["Title"] = "Planning";
}
<div class="container">


    <div class="container">
        <div class="row">
<main>
  <div class="position-relative" style="z-index: 0; transition: all 0.25s ease-in">
    <div class="position-absolute overflow-hidden width-full top-0 left-0" style="height: 370px">
    </div>
    <br>
    <h1> 404 “Page en construction ou en maintenance.”"</h1>
    <br>
    <div class="position-relative d-block my-0 mx-auto overflow-hidden" style="width: 940px; height: 370px; clear: both">
      <img alt="404 “Page en construction ou en maintenance.”"  width="600"  src="~/images/scared.jpg">
    </div>
  </div>
    <a href="mailto:nadir.arbia@gmail.com" class="link-gray ">Contacter le Support</a> 
  </div>
  </div>
</div>
</main>
</div>
</div>
