@page
@model TeamModel
@{
    ViewData["Title"] = "Team";
}
<div class="container blocktop blockbot">
  <img src="~/images/RhobiElyandra.png" class="img-responsive"/>
<h3>Elyandra Esport     </h3>a
    <strong>Support:</strong> <a href="mailto:contact@elyandra-esport.com">Support@example.com</a><br />
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<strong> Page en construction et/ou remise en question </strong>
</div>
